@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    /* height: 100%; */
}

/* ===============================================================================
All
=============================================================================== */

.row {
  /* height: 50%; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.col {
  /* border: 1px solid black; */
  width: 50%;
  min-height: 50px;
  /* height: 100px; */
}

/* ===============================================================================
Index page
=============================================================================== */

#homePage {
  background: url(../images/background_image.png);
  /* width: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background: #fff; */
  font-family: 'Varela Round', sans-serif;
}

/* The block containing the get started button and some getter text */
.content {
  text-align: center;
  width: 100%;
  z-index: 1;
}

/* The getter text */
.content h1 {
  font-size: 32px;
  font-weight: 600;
  color: #222;
  font-family: sans-serif;
  padding: 15px 5px;
}

.content h1 span {
  color: #39A9DB;
}

/* The main starter button  */
.main_button {
  background-color: #39A9DB;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
  border: 1px solid #39A9DB;
  border-radius: 5px;
  padding: 10px 30px;
  transition: 0.5s;
}

.main_button:hover {
  color: #39A9DB;
  background-color: #fff;
  border: 1px solid #39A9DB;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
li{
    margin: 75px 0 -55px 0;
    color: #39A9DB;
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}
li {
    width: 230px;
    text-indent: 56px;
}

#trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 25px;
    left: 25px;
    background: #39A9DB;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 3;
}
#trigger {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}

#menu li a {
  color: #39A9DB;
  font-family: sans-serif;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 30px;
}

#menu li a:hover {
  color: #115d80;
}

#menu-toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: absolute;
    margin: 0; padding: 0;
    width: 110px;
    height: 110px;
    background-color: #fff;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
    z-index: 2;
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li {
    display: block;
    z-index: 999;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}


/* ===============================================================================
Connections page
=============================================================================== */

.connectContent {
  margin-left: 200px;
  margin-right: 200px;
}

.userObj {
  margin: 10px 15px;
  padding: 5px;
  border: 1px solid red;
}

/* ===============================================================================
Results page
=============================================================================== */

.userColorRow {

}

.userColorRow h4, .userConnectRow h4{
  color: white;
  padding: 5px 20px;
}

.userConnectRow h4 a {
  color: red;
  text-decoration: none;
  /* padding: 5px 20px; */
}

.resultsContent {
  margin-left: 200px;
  margin-right: 200px;
}

.interestsResults {
  margin: 5px 10px;
  border: 1px solid red;
}

.interestWord {
  display: inline-block;
  padding: 5px 8px;
  margin: 5px;
  border: 1px solid blue;
  border-radius: 5px;
}

.interestWord:hover{
  background-color: blue;
  color: white;
  cursor: pointer;
}

.resultsImages {
  width: 100%;
  text-align: center;
}

.resultsImages img {
  margin: 5px;
  width: 75%;
}

.resultsHeader {
  padding: 10px;
}

.resultsHeader p {
  font-size: 26px;
  float:left;
  margin-left: 15px;
}

/* ===============================================================================
Personality Test page
=============================================================================== */
.testContent{
  margin-left: 200px;
  margin-right: 200px;
}

.adjectives {
  text-align: center;
}

.adjsSpace{
  display: flex;
  justify-content: space-around;
}

input[type=radio]{
  postion: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

input[type=radio] + p{
  cursor: pointer;
}
input[type=radio]:checked + p{
  background-color: red;
}
